<p id="notice"><%= notice %></p>

<div class="cartContainer">

<% if @cart.empty? %>
<h2>Please add Yummy Cakes to your cart</h2>
<% end %>

    <table id="customers">
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
        
        <% item = Item.find_by_id(id) %>
        
        <tr>
            <td>
                <div class="image">
                    <%= link_to (image_tag item.image, :style =>"height:40px"), item %>
                </div>
                
            </td>
            
            <td class="name"><%= link_to item.name, item %></td>
            <td><a href="/cart/remove/<%= item.id %>">Remove From Cart</a></td>
            <td class="price"><%= number_to_currency(item.price, :unit =>"€") %></td>
            <td class="quantity"><%= quantity %></td>
            <td class="price"><%= number_to_currency(quantity * item.price, :unit =>"€") %></td>
            
        </tr>
        
        <tr>
            <% total += quantity * item.price %>
            
            
        </tr>
        
        <% end %>
        
        <tr>
            Grand Total: <%= number_to_currency(total, :unit => "€") %>
            
        </tr>
       
        
       
        
    </table>
    
    <div class=cartcont2>
    <a href="/cart/clear" class="btn btn-primary">Empty Cart </a>
    <a href="/items" class="btn btn-primary">Continue Shopping</a>
    <a href="/checkout" class="btn btn-primary">Proceed to Checkout</a>
   </div> 
   
    
    </div>