<p id="notice"><%= notice %></p>

  <div class="heading-area">
    <div class="container">
      <div class="content">
           <h1>Please add ourt Delicious Cakes to your cart!</h1>
         <% if @cart.empty? %>
<p></p>
<% end %>
      </div>
    </div>
  </div>   




<div id="cartContainer">



    <table id="customers">
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
        
        <% item = Item.find_by_id(id) %>
        
        <tr>
            <th>
                <div class="image">
                    <%= link_to (image_tag item.image, :style =>"height:100px"), item %>
                </div>
                
            </th>
           
             <td class="name"><%= link_to item.name, item %></td>
            <td><a href="/cart/remove/<%= item.id %>" class="btn btn-default">Remove From Cart</a>
            </tr>
      <tr>      
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Order</th>
 </tr>
  
  
  
           <tr>
          <td class="price"><%= number_to_currency(item.price, :unit =>"€") %> </td>
            <td class="quantity"><%= quantity %></td> 
           <td class="price"><%= number_to_currency(quantity * item.price, :unit =>"€") %>:</td>
            </tr>
       
        
        <tr>
            <% total += quantity * item.price %>
            
            
        </tr>
        
        <% end %>
        
        <th>
            Grand Total: <%= number_to_currency(total, :unit => "€") %>
            
        </th>
       
        
        
       <br>
        
      
       
        
    </table>
     
       <br>
        
       <br>
     <a href="/cart/clear" class="btn btn-info">Empty Cart </a>
    
    <p><a href="/items" class="btn btn-info">Continue Shopping</a></p>
    <a href="/checkout" button type="button" class="btn btn-info btn-block">Proceed to Checkout</a>
    
 
    
    </div>