

<div id="itemsContainer">    
<h1>Order Details</h1>    
<table id="customers">    
<tr>      
<td>Order Date:</td>      
<td>Ordered By:</td>      
<td>Order Status:</td>                
</tr>            
<tr>      
<td><%= @order.order_date %></td>      
<td><%= @order.user %></td>      
<td><%= @order.status %></td>          
</tr>        

<tr>
  <td><%= link_to 'Edit Order', edit_order_path(@order), :class =>"btn btn-primary" %></td> 
   <td><%= link_to 'Back to Orders', orders_path, :class =>"btn btn-primary" %> 
    
    
  </td>
  
  
  
</tr>


</table>    


</div>