


  <div class="row page">
  <div class="heading-area">
    <div class="container">
      <div class="content">
          <h1 class="text-center">See full range of our delicious Cakes!</h1>
          <h3 class="text-center">Best bakery at this location.</h3>
      </div>
    </div>
  </div>  
  
 <p id="notice"><%= notice %></p>
  
<div class="row">
  <div class="itemsPage">
    <div class"container">
      <div class="content body-txt">
        
        <% @items.each do |item| %>
         <div class="col-md-3 text-center cake">
             <span class="imgHols">
            <%= link_to (image_tag item.image, :class=>"img-responsive"), item %>
             </span>
                <h3><%= item.name %></h3>
             
                <h4>Price: € <%= item.price %></h4>
                <p>Calories per Serving: <%= item.caloriesPerServing %>
                <br>Gluten Free: 
                <%  if item.glutenFree? %>Yes
                <% else %>No 
                <% end %>
                <br>Item contains Nuts: 
                <% if item.containsNuts? %>Yes
                <% else %>No 
                <% end %>
                
             <br><%= item.description %></p>
             
            
            
             <a href="/cart/<%= item.id %>" class="btn btn-primary">add to Cart</a>
            
            
               
            <% if session[:login] == 1 %>
        
            <%= link_to 'Edit', edit_item_path(item) %>
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Show', item, :class=>"btn btn-primary" %>
            <% end %>  
            
         </div>
        <% end %>
    </div>
    </div>
  </div>
</div>

<%= link_to 'New Item', new_item_path, :class=>"btn btn-primary", :role=>"button" %>


