


  <div class="row page">
  <div class="heading-area">
    <div class="container">
      <div class="content">
          <h1 class="text-center">See full range of our delicious Cakes!</h1>
          <h3 class="text-center">Best bakery at this location.</h3>
      </div>
    </div>
  </div>  
  
 <p id="notice"><%= notice %></p>
  
<div class="row">
  <div class="itemsPage">
    <div class="container">
      <% if admin_signed_in? %>  <!-- only allow admin to add product -->
           <div class="add-item">
              <%= link_to 'New Item', new_item_path, :class=>"btn btn-primary", :role=>"button" %>
            </div>
      <% end %>  
      
      <div class="content body-txt">
         
        
        <% @items.each do |item| %>
         <div class="col-md-3 text-center cake">
             <span class="imgHols">
             <%= link_to (image_tag item.image, :class=>"img-responsive"), item %>
             </span>
                <h3><%= item.name %></h3>
             
                <h4>Price: € <%= item.price %></h4>
                <p><b>Calories per Serving:</b> <%= item.caloriesPerServing %>
                <br><b>Gluten Free: </b>
                <%  if item.glutenFree? %>Yes
                <% else %>No 
                <% end %>
                <br><b>Item contains Nuts: </b>
                <% if item.containsNuts? %>Yes
                <% else %>No 
                <% end %>
                <br>
             <br><%= item.description %></p>
             
            
            
             <a href="/cart/<%= item.id %>" class="btn btn-primary">add to Cart</a>
            
            
               
            <!--   was  if session[:login] == 1  in ruby brackets -->
            <% if admin_signed_in? %>
            <%= link_to 'Show', item, :class=> "show-link" %>
            <%= link_to 'Edit', edit_item_path(item), :class=> "edit-link " %>
            <%= link_to 'Destroy', item, :class=> "delete-link", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>  
            
         </div>
        <% end %>
    </div>
    </div>
  </div>
</div>



