<div class="row">
   <div class="col-md-12 new">
    <div class"container">
       <div class="content">

<h3><%= @item.name  %></h3>
<tr>

  <td><img class="img-responsive" src=<%=asset_path @item.image, {:style => "width:10%;"} %>/></td>
</tr>

</div>
<% if notice %>
<div class="alert alert-info">
<p id="notice"><%= notice %></p>
</div>
<% end %>


<table class="table table-bordered">
<tr>
  <td><b>Price:</b></td>
  <td><%= @item.price %></td>
</tr>

<tr>
  <td><b>Category:</b></td>
  <td><%= @item.category %></td>
</tr>

<tr>
  <td><b>Calories per Serving:</b></td>
  <td><%= @item.caloriesPerServing %></td>
</tr>

<tr>
  <td><b>Gluten Free:</b></td>
  <td><%= @item.glutenFree %></td>
</tr>


                
                

<tr>
  <td><b>Gluten Free:</b></td>
	<td>	<% case @item.glutenFree
		when "Yes" %>
		<p>yes</p>
		<% when "No" %>
		<p>no</p>
		<% end %>
	</td>

</tr>
	
	
	


<tr>
  <td><b>Contains Nuts:</b></td>
  <td><%= @item.containsNuts %></td>
</tr>


<tr>
  <td><b>Description:</b></td>
  <td><%= @item.description %></td>
</tr>





</table>

<%= link_to 'Back', items_path, :class=>"btn btn-primary" %>
     </div>
   </div>
  </div>
</div>

