
 <p id="notice"><%= notice %></p>

<div class="row">
  <div class="categories">
    <div class"container">
      <div class="content body-txt">
        <h1>Categories</h1>
        
        <% @categories.each do |category| %>
          <div class="col-md-3 text-center">
              
            <h3><%= category.title %></h3>
            <p><%= category.descriprion %></p>
             <%= image_tag category.image, :class=>"img-circle float-left", :style=>"width:200px;height:200px;" %>
                 
         
                
                
                <%= link_to 'Show', category %>
                <%= link_to 'Edit', edit_category_path(category) %>
                <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
              
              
             
            <% end %>
            
          </div>
       </div>
    </div>
        
        <%= link_to 'New Category', new_category_path, :class=>"btn btn-primary", :role=>"button" %>
  </div>
</div>

