<header class="header">
    <div class="headTop">
      <div class="container">
        <ul><li><span>Call Us:</span><span><a href="tel:1234567">1234567</a></span></li></ul>
      </div>
    </div>
    <div class="headBot"> 
     <div class="container">
      <h2>Bakery</h2><!-- the h1s are in individual pages -->
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Items", items_path %></li>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Logout", logout_path %></li>
        <li><%= link_to "Cart", cart_path  %></li>
      </ul>
    </div>
   </div>
  </div>
</header>