<header class="header">
    <div class="headTop">
      <div class="container">
        <table><tr><td class="call-label">Call Us:</td><td class="phone"><a href="tel:1234567">1234567</a></td>
        <td class="search"><%= render 'layouts/search' %></td></tr></table>  
      </div>
    </div>
    <div class="headBot"> 
     <div class="container">
      <h2>Bakery</h2><!-- the h1s are in individual pages -->
      
      
      <div class="social"> <!--links to social media-->
<a href="https://twitter.com/search?q=georgias%20cakes&src=typd&lang=en">
<img class="social__tw">
</a>

<a href="https://www.facebook.com/georgiascakesuk">
<img class="social__fb"> 
</a>

<a href="https://www.instagram.com/georgiascakes/">
<img class="social__in">
</a>
</div>
      <ul>
         <span class="linksContainer">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Cakes", items_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Cart", cart_path  %></li>
        
         <% if user_signed_in? %>
                  
         <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
         <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
         <li><%= link_to 'Register', new_user_registration_path %></li> 
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>
        </span>
    </ul>
    </div>
   </div>
  </div>
</header>